.tasks {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
  }
  &__header {
    font-size: 22px;
    font-weight: 600;
    color: #222631;
    margin-right: 22px;
  }
  &__search {
    border-radius: 2px;
    border: 1px solid #E3E6F3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 42px;
    font-size: 16px;
    min-width: 262px;
    &:focus {
      outline: none;
    }
    &__image {
      content: "";
      display: inline-block;
      width: 24px;
      height: 42px;
      border-left: 1px solid #E3E6F3;
      padding-left: 6.50px;
      left: -40px;
      position: relative;
      background: url("../../../../src/assets/images/svg/input_search.svg") no-repeat center center;
      background-size: 24px 24px;
    }
    &__date {
      border-radius: 2px;
      border: 1px solid #E3E6F3;
      width: 140px;
      box-sizing: border-box;
      position: relative;
      padding: 11px 15px 11px 10px;
      font-size: 16px;
      &:focus {
        outline: none;
      }
      &:nth-child(4) {
        margin-left: -14px;
      }
      &__separator {
        background: #BDC0CF;
        width: 13px;
        height: 1px;
        margin-left: 4px;
        margin-right: 4px;
        position: relative;
        margin-left: -14px;
      }
      &__clean {
        background: url("../../../assets/images/svg/cross.svg");
        min-width: 18px;
        height: 18px;
        border: none;
        position: relative;
        left: -30px;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
    &__details {
      display: flex;
      width: 140px;
      height: 42px;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 6px;
      border: 1px solid #BDC0CF;
      color: #8F96B0;
      font-size: 16px;
      margin-left: 10px;
      position: relative;
      cursor: pointer;
      margin-left: -8px;
      &:after {
        content: "";
        position: absolute;
        right: 5px;
        height: 24px;
        width: 24px;
        background: url("../../../assets/images/svg/arrow-right.svg") no-repeat center center;
        background-size: 24px 24px;
      }
    }
  }
}