.tasks {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
  }
  &__header {
    font-size: 22px;
    font-weight: 600;
    color: #222631;
    margin-right: 22px;
  }
  &__search {
    border-radius: 2px;
    border: 1px solid #E3E6F3;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 42px;
    font-size: 16px;
    min-width: 262px;
    padding-left: 20px;
    &:focus {
      outline: none;
    }
    &__image {
      content: "";
      display: inline-block;
      width: 24px;
      height: 42px;
      border-left: 1px solid #E3E6F3;
      padding-left: 6.50px;
      left: -40px;
      position: relative;
      background: url("../../../../src/assets/images/svg/input_search.svg") no-repeat center center;
      background-size: 24px 24px;
    }
  }
}