// Colors
$gray: #343F5B;
$light-gray: #8F96B0;
$page-background-color: #EEEFF6;
$green: #9ACA3C;

// Font-size
$fz-sm: 12px;
$fz-base: 16px;
$fz-lg: 18px;

// Font weight
$b: 600;

// Borders
$br-base: 1px solid #EEEFF6;
$br-avatar: 1px solid #8F96B0;
$br-partner: 1px solid #E3E6F3;


// Border-radius
$br-radius-base: 2px;
$br-radius-lg: 14px;


// Opacities
$opacity-sm: 0.3;
