// Colors
$black: #222631;
$gray: #343F5B;
$light-gray: #8F96B0;
$page-background-color: #EEEFF6;
$green: #9ACA3C;
$select-bg-color: #F9FAFF;

// Font-size
$fz-sm: 12px;
$fz-base: 16px;
$fz-lg: 18px;
$fz-xl: 22px;

// Font weight
$b: 600;

// Borders
$br-base: 1px solid #EEEFF6;
$br-avatar: 1px solid #8F96B0;
$br-partner: 1px solid #E3E6F3;
$br-button: 1px solid #BDC0CF;


// Border-radius
$br-radius-sm: 2px;
$br-radius-base: 6px;
$br-radius-lg: 14px;


// Opacities
$opacity-sm: 0.3;
