.date {
  border-radius: 2px;
  border: 1px solid #E3E6F3;
  width: 140px;
  box-sizing: border-box;
  position: relative;
  padding: 11px 15px 11px 10px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &__separator {
    background: #BDC0CF;
    width: 13px;
    height: 1px;
    position: relative;
    margin: 0 4px;
  }
  &__clean {
    background: url("../../assets/images/svg/cross.svg");
    min-width: 18px;
    height: 18px;
    border: none;
    position: relative;
    left: -30px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: -18px;
  }
}