@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.kpi-container {
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
}

.kpi-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #E3E6F3;

    &-container {
        display: flex;
        align-items: center;
    }
}

.kpi-header-inputs-container {
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.kpi-header-view__input {
    display: none;
}

.kpi-header-view__input+.kpi-header-view__label {
    height: 42px;
    width: 42px;
    display: inline-block;
    padding: 0 0 0 0;
    cursor: pointer;
}

.kpi-header-view__label {
    border: 1px solid #E3E6F3;
    border-radius: 6px;
}

.kpi-header-view__input:nth-child(1)+.kpi-header-view__label:nth-child(2) {
    background: url("../../assets/images/svg/cil_view-one_1.svg") no-repeat center center;
}

.kpi-header-view__input:nth-child(1):checked+.kpi-header-view__label:nth-child(2) {
    background: url("../../assets/images/svg/cil_view-one_2.svg") no-repeat center center;
}

.kpi-header-view__input:nth-child(3)+.kpi-header-view__label {
    background: url("../../assets/images/svg/cil_view-two_1.svg") no-repeat center center;
}

.kpi-header-view__input:nth-child(3):checked+.kpi-header-view__label {
    background: url("../../assets/images/svg/cil_view-two_2.svg") no-repeat center center;
}

.kpi-header-filter-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.kpi-header-filter-group__radio {
    display: none;
}

.kpi-header-filter-group__radio+.kpi-header-filter-group__label {
    display: inline-block;
    padding: 0 0 0 24px;
    cursor: pointer;
    background: url("../../assets/images/svg/doors-label.svg") no-repeat left center;
}

.kpi-header-filter-group__radio:checked+.kpi-header-filter-group__label {
    background: url("../../assets/images/svg/doors-label-checked.svg") no-repeat left center;
}

.kpi-header-select-container {
    position: relative;
}

.kpi-header-filter-group-select {
    width: 235px;
    height: 42px;
    border-radius: 2px;
    border: 1px solid #E3E6F3;
    background: #FFF;
}

.kpi-header-filter-group-select__control {
    width: 100%;
    padding-left: 21px;
    padding-right: 15px;
    background: url("../../assets/images/svg/ic_baseline-arrow-right.svg") no-repeat 200px center;
}

.kpi-header-filter-group-select__option {
    padding: 12px 15px 12px 21px;
    background: #fff;
    border-bottom: 1px solid #EEEFF6;

    &:hover {
        background: #F9FAFF;
    }
}

.kpi-header-filter-group-select-options {
    position: absolute;
    display: none;
    width: 100%;

}

.kpi-header-filter-group-select-options__item {
    background: #FFF;
    position: relative;
    z-index: 1;
    padding: 12px 15px 11px 21px;
    border-bottom: 1px solid #EEEFF6;

    &:hover {
        background: #F9FAFF;
    }
}

.kpi-header-filter-group-select__indicators svg {
    display: none;

}

.kpi-content {
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 20px;

    &-names {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        width: 250px;
    }

    &-lines {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-line {
            display: flex;
            align-items: center;

            &__bar {
                display: inline-block;
                height: 20px;
                background: #9ACA3C;
                margin-right: 10px;
            }
        }
    }
}