@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.kpi-container {
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
}

.kpi-content {
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 20px;

    &-names {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        width: 250px;
    }

    &-lines {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-line {
            display: flex;
            align-items: center;

            &__bar {
                display: inline-block;
                height: 20px;
                background: #9ACA3C;
                margin-right: 10px;
            }
        }
    }
}
.v2_kpi-content-item__plan {
    display: flex;
    justify-content: center;
    align-items: center;
}
.v2_kpi-content-item__plan:after {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    background: url("../../assets/images/svg/arrow-right.svg") no-repeat center center;
}
