@import "./utils/scss/fonts";
@import "./utils/scss/reset";
@import "utils/scss/vars";

body {
  margin: 0;
  font-family: "Exo 2", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $page-background-color;
}

